# ============================
# Dependencies
# ============================
node_modules/
**/node_modules/

# ============================
# Testing
# ============================
coverage/

# ============================
# Production Builds
# (React build, Vite dist, Next.js .next)
# ============================
build/
dist/
.next/

# ============================
# Environment Variables
# ============================
.env
.env.*

# ============================
# Miscellaneous
# ============================
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
